#mask{
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
}
.active{
  border-bottom: 2px solid #fff;
}
#nav{
  height: 30px;
  width: 100%;
  position: fixed;
  top: -30px;
  background: rgba(0, 0, 0, 0.30);
  z-index: 2;
  overflow: hidden;
}
#bg{
  width: 100%;
  height: 30px;
  background-color: #2E2C2C;
  opacity: 0.3;
  top: 0;
}
#left-nav{
  float: left;
  width: 100px;
  height: 30px;
  color: white;
  position: fixed;
  line-height: 30px;
  padding-left: 20px;
  letter-spacing: 2px;
} 
#right-nav{
  width: 300px;
  height: 30px;
  position: fixed;
  right: 0;
  text-align: right;
  overflow: hidden;
  padding-right:  20px;
}
.right-nav-items li a:hover{
  color: #59DF53;
  cursor: pointer;
}
.right-nav-items li a{
  display: inline-block;
  width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.right-nav-items li{
  float: right;
  padding: 0;
  width: 70px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
#content1{
  width: 100%;
  background-color: black;
  background: url(../images/banner.jpg) no-repeat center;
  height: 600px;
  padding-top: 0;
  overflow: hidden;
}
.article #content1{
  height: 300px;
}

.article #content1-main{
  top: 90px;
}

.content2-wrapper{
  width: 1080px;
  margin: 0 auto;
}
#content1-bg{
  width: 100%;
  height: inherit;
  background-color: rgba(0,0,0,0.20);
}
.article #content2{
  background: #fefefe
}
article{
  line-height: 2;
}
.content2-info{
  color: #ccc;
  font-size: 16px;
}
#content2{
  width: 100%;
  min-height: 600px;
}
#content2-bg{
  width: 100%;
  height: 600px;
  background-color: #109976;
  position: absolute;
}
#content1-main{
  font-family: '微软雅黑';
  color:white;
  width: 200px;
  text-align: center;
  position: relative;
  margin: 0px auto;
  top: 250px;
}
#content1-main hr{
  width: 150px;
  height: 4px;
  border: none;
  background-color: #886F6F;
  opacity: 0.3;
  border-radius: 2px;
  margin: 0 auto;
}
#main-name{
  margin: 10px 0px;
} 
#me{
  width: 80px;
  height: 30px;
  margin: 0 auto;
  background-color: #F94949;
  line-height: 30px;
  font-size: 12px;
}
#down-logo{
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 350px;
  color: white;
  background: url(../../../好用png/下1.png) no-repeat center;
  background-size: 32px 32px;
}
#content2-title{
  width: 600px;
  height: 300px;
  color: white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
#content2-title h2{
  margin: 0;
  font-family: "微软雅黑";
  font-size: 14px;
  padding:  10px 0;
}
#content2-title hr{
  height: 2px;
  width: 210px;
  background-color: #886F6F;
  opacity: 0.3;
  border-radius: 2px;
}
#content2-bg .card-group{
  height: 150px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 0 auto;
  padding-bottom: auto;
}
#card1-icon{
  width: 100%;
  transform: rotate(-45deg);
  height: inherit;
  background: url(../../../好用png/用户.png) no-repeat center;
}
#card2-icon{
  width: 100%;
  transform: rotate(-45deg);
  height: inherit;
  background: url(../../../好用png/收藏.png) no-repeat center;
}
#card3-icon{
  width: 100%;
  transform: rotate(-45deg);
  height: inherit;
  background: url(../../../好用png/我的反馈.png) no-repeat center;
}
#content2-title .card-group>div{
  display: inline-block;
  height: 70px;
  width: 70px;
  background: rgba(0, 0, 0,0.20);
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0,0.20);
  transform: rotate(45deg);
  margin: 20px;
}
#content3{
  width: 100%;
  height: 600px;
}
#content3-bg{
  width: 100%;
  height: 600px;
  position: absolute;
  color: white;

}
#img1,#img2{
  width: 100%;
  height:50%;
} 
#img1{
  background: #24165A;
}
#img2{
  background: #11272d;
}
#img1 #img1-pic{
  height: 100%;
  width: 35%;
  float: left;
}
#img1 #img1-pic img{
  height: 100%;
}

#img1 #img1-content{
  width: 40%;
  height: 100%;
  float:left;
  margin-left: 50px;
  display: flex;
}
#img1 #img1-content div{
  margin: auto;
}
#img2{
  position: absolute;
}
#img2 #img2-pic{
  height: 100%;
  width: 35%;
  float: right;
  top: 0px;
  overflow: hidden;
}
#img2 #img2-pic img{
  height: 100%;
}

#img2 #img2-content{
 width: 40%;
 height: 100%;
 float:left;
 margin-left: 200px;
 display: flex;
}
#img2 #img2-content div{
  margin: auto;
}
#content4-bg{
  width: 100%;
  height: 300px;
  background-color: #333232;
  color: white;
}
#content4-pic{
  width: 45%;
  height:300px;
  float: left;
}
#content4-pic img{
  height: 100%
}
#img3-content{
  width: 30%;
  height: 100%;
  float:left;
  margin-left: 50px;
  display: flex;
}
#img3-content div{
  margin: auto;
}
#content5{
  width: 100%;
  height: 1200px;
}

#content5-bg{
  width: 100%;
  height: inherit;
  background-color: #4a68c5;
  color: white;
  position: absolute;
}
#content5-content1{
  width: 100%;
  height: 100%;
  position: absolute;
}
#content5-at{
  width: 500px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 130px;
}
#content5-div2{
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 250px;
}  
#content5-div3{
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 0;

}  
.clearfix:after{
  content: '';
  display: block;
  clear: both;
}
#content5-div4{
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: 0;
}

h3{
  padding: 0;
  margin-top: 0;
  font-size: 22px;
}
.div1,.div2{
  height: 300px;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}
#content5-div2>div:first-child{
  background: rgba(0,0,0,0.20);
}
#content5-div2>div:nth-child(2){
  background: rgba(0,0,0,0.08);
}
#content5-div3>div:first-child{
  background: rgba(0,0,0,0.12);
}
#content5-div3>div:nth-child(2){
  background: rgba(0,0,0,0.20);
}
#content5-div4>div:first-child{
  background: rgba(0,0,0,0.20);
}
#content5-div4>div:nth-child(2){
  background: rgba(0,0,0,0.08);
}
.div1{
  float: left;
}
.div2{
  float: right;
}
#foot{
  width: 100%;
  height: 400px;
}
#foot-bg{
  width: 100%;
  height: inherit;
  background: url(../images/banner.jpg) no-repeat center;
  position: absolute;
}
#foot-bg1{
  width: 100%;
  height: 50%;
  background: rgba(0,0,0,0.40);
}
#foot-bg2{
  width: 100%;
  height: 50%;
  background: rgba(0,0,0,0.80);
  top: 100px;
}
.div3>div p{
  margin: 0;
  padding: 0;
}
#foot-div1{
  width: 60%;
  height: 50%;
  position: relative;
  top: 40%;
  margin: 0 auto;
}

.div3,.div4{
  width: 250px;
  height: 100%;
}
.div4{
  float: right;
}
.div3{
  float: left;
}
.div4>div{
  height: 100%;
  width: inherit;
  position: absolute;
}
.div4-1,.div4-2{
  width: 150px;
  height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #F42525;
  color: white;
  position: relative;
  float: right;
  line-height: 30px;
  top: 0;
}
.div4-1{
  margin-bottom: 15px;
}

#foot-bg2-div1{
  width: 400px;
  height: 50px;
  position: relative;
  top: 50%;
  margin: 0 auto;
}  
#foot-bg2-div1 ul{
  text-align: center;
  list-style: none;
}
#foot-bg2-div1 ul li{
  line-height: 50px;
  display: inline-block;
  width: 50px;
}
#foot-bg2-div1 ul li a img{
  vertical-align: middle;
}
#foot-div1-1{
  width: 200px;
  height: 30px;
  color: #fff;
  text-align: center;
  margin: 20px auto 0 auto; 
}

#sidebar{
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  background-color: #4ac3c5;
  color: #fff;
  padding: 30px 0;
  z-index: 4;
}


#sidebar ul li a{
  height: 100%;
  width: 100%;
  padding: 15px 20px;
  display: inline-block;
}
#sidebar ul li a:hover{
  background: #109992;
}

#gotop{
  width: 90px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.60);
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  display: none;
}
#gotop a{
  display: inline-block;
  width: 60px;
  margin: 0 auto;
}
